html {
  scroll-behavior: smooth;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
.head-desktop, .homepage-content, .content, .goback{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
header{
	width: 100%;
	background-color: rgba(255,255,255,0.95);
	text-align: center;
}
.logo{
	display: inline-block;
}
.logo.mobile{
	width: 100%;
	padding: 5px 0;
	margin: 0 auto;
	border-bottom: 1px solid #ffdb00;
	display: block;
}
.head-desktop{
	display: none;
}
.nav-mobile{
	background-color: rgba(255,255,255,0.98);
}
.nav-mobile a, .head-desktop nav a, .contact.desktop{
	font-size: 14px;
	color: black;
}
.nav-mobile a{
	width: calc(100% / 3 - 3px);
	text-align: center;
	padding: 10px 0;
	display: inline-block;
}
.active{
	background: #ffdb00;
	font-weight: 600;
}
#projectBtn.active{
	border-radius: 41px 0 0 41px;
}
#aboutBtn.active{
	border-radius: 0 41px 41px 0;
}
.contact.desktop{
	background-color: #ffdb00;
	text-align: center;
	border-radius: 5px;
	padding: 10px 15px;
}
.contact.desktop::before{
	content: '';
	background-image: url("../images/icon_small/mail.svg");
	background-size: 100%;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle; 
}
.sticky{
	width: 90%;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 41px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	position: fixed;
	top: 10px;
	left: 5%;
	z-index: 2;
}
.sticky + main{
	padding-top: 36px;
}
#projects, #resume, #about{
	padding-top: 70px;
	margin-top: -70px;
}
.homepage-container{
	background: linear-gradient(to bottom, #ffdb00 80%, white 0%);
}
.homepage-content{
	text-align: center;
	padding-top: 40px;
	overflow: hidden;
}
.homepage-content h1, .homepage-content img{
	display: block;
}
.homepage-content h1{
	font-size: 28px;
	font-weight: 600;
	text-align: left;
	padding-left: 32px;
	vertical-align: middle;
	position: relative;
}
.homepage-content h1::before{
	content: "“";
	font-size: 70px;
	font-weight: 600;
	color: white;
	position: absolute;
	top: -26px;
	left: 0;
}
.homepage-content .author{
	font-size: 18px;
	font-weight: 400;
	display: block;
}
.homepage-content img{
	width: 65%;
	min-width: 220px;
	max-width: 300px;
	margin: -20px 0 0 auto;
}
.content{
	margin-bottom: 60px;
	overflow: hidden;
}
.content.first{
	margin-bottom: 40px;
}
.heading{
	font-size: 21px;
	font-weight: 600;
	padding-left: 3px;
	margin-bottom: 10px;
	border-left: 8px solid #ffdb00;
}
article{
	width: calc(100% - 22px); 
	background-color: white;
	padding: 10px;
	margin: 0 1px 20px 1px;
	border-radius: 5px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.4); 
	position: relative;
}
article a{
	width: calc(60% - 12px);
	display: inline-block;
	vertical-align: middle;
}
.article-img{
	width: 39%;
	margin-right: 10px;
	border-radius: 5px;
	overflow: hidden;
}
.article-title, .article-brief{
	margin-bottom: 10px;
}
.article-title{
	font-size: 18px;
	font-weight: 600;
	color: rgba(0,0,0,0.75);
}
.article-brief{
	display: none;
}
.article-date{
	font-size: 13px;
	color: rgba(0,0,0,0.4);
	display: block;
}
.article-date::before{
	content: '';
	background-image: url("../images/icon_small/calander.svg");
	background-size: 100%;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: text-bottom;
	opacity: 0.6;
}
.download{
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	font-weight: 400;
	line-height: 2.5;
	text-decoration: underline;
	float: right;
}
.download::after{
	content: "";
	width: 16px;
	height: 16px;
	background-image: url("../images/icon_small/open_in_new.svg");
	background-size: 100%;
	margin-left: 3px;
	display: inline-block;
	vertical-align: text-bottom;
	opacity: 0.6;
}
.resume-content{
	overflow: hidden;
}
.resume-content.second, .resume-title.second{
	margin-top: 20px;
}
.resume-title{
	width: 100%;
	color: rgba(0,0,0,0.75);
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px dashed rgba(0,0,0,0.2);
	float: left;
}
.left-column, .details{
	float: left;
}
.left-column{
	width: 55px;
	font-size: 13px;
	color: rgba(0,0,0,0.4);
	text-align: center;
	margin-right: 10px;
}
.left-column span{
	display: block;
}
.details{
	width: calc(100% - 91px);
	font-size: 16px;
	color: rgba(0,0,0,0.6);
	padding-left: 25px;
	border-left: 1px solid #ffdb00;
}
.details.first{
	padding-bottom: 20px;
}
.details.noborder{
	border: none;
}
.details li{
	margin-bottom: 5px;
	list-style: disc;
}
.details li.sub-title, .details li.nobullet{
	margin-bottom: 10px;
	list-style: none;
}
.details li.nobullet, .details.noborder .sub-title{
	margin-left: -15px;
}
.sub-title::before{
	content: "";
	width: 9px;
	height: 9px;
	background-color: #ffdb00;
	border-radius: 9px;
	margin: 0 5px 0 -30px;
	display: inline-block;
}
.sub-title span{
	color: rgba(0,0,0,0.75);
	font-weight: 600;
}
.details.noborder .sub-title::before{
	display: none;
}
.skills-row{
	margin-bottom: 20px;
}
.skills-row.last, .about-content p.last{
	margin-bottom: 0;
}
.skills-row img, .skills-row .details{
	vertical-align: middle;
	display: inline-block;
	float: none;
}
.skills-row .details .sub-title{
	margin-bottom: 0;
}
.about-content{
	color: rgba(0,0,0,0.6);
	margin-top: 10px;
}
.about-content p{
	margin-bottom: 15px;
}
footer{
	background: linear-gradient(to bottom, white 25%, black 0);
	font-size: 14px;
	text-align: center;
	color: rgba(255,255,255,0.75);
	padding-top: 20px;
}
footer p{
	margin-bottom: 5px;
}
.white{
	color: white;
}
.bold{
	font-size: 18px;
	font-weight: 600;
}
.mail::before{
	content: "";
	width: 16px;
	height: 16px;
	background-image: url("../images/icon_small/mail_white.svg");
	background-size: 100%;
	margin-right: 3px;
	display: inline-block;
	vertical-align: text-bottom;
	opacity: 0.75;
}
.mail.black::before{
	background-image: url("../images/icon_small/mail.svg");
	margin-right: 0;
}
.social{
	margin-bottom: 0;
}
.social a{
	margin: 20px 10px;
	display: inline-block;
}
.fixed-btn{
	position: fixed;
	right: 0;
	bottom: 60px;
	z-index: 1;
}
.fixed-btn button{
	width: 60px;
	height: 60px;
	background-size: 100%;
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.2));
}
.gotop{
	background-image: url("../images/icon/gotop.svg");
	margin-bottom: 5px;
	display: block;
}
.contact.mobile{
	background-image: url("../images/icon/contact.svg");
}
.information{
	width: auto;
	background-color: rgba(255,255,255,0.98);
	color: black;
	font-size: 14px;
	text-align: left;
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	position: fixed;
	bottom: 10px;
	right: 5px;
	z-index: 3;
	display: none;
}
.information.show{
	display: block;
}
.information .bold{
	font-size: 14px;
	padding-left: 3px;
	margin-bottom: 10px;
	border-left: 8px solid #ffdb00;
}
.information .close{
	width: 16px;
	height: 16px;
	background-image: url("../images/icon_small/close.svg");
	background-size: 100%;
	margin-top: 2px;
	float: right;
}
.information .copy-mail{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	margin-top: 5px;
}
.information .copy-mail .mail, .information .copy-mail button{
	vertical-align: middle;
}
.information .copy-mail .mail{
	padding: 10px 10px 10px 5px;
}
.information .mail input{
	border: none;
}
.information .copy-mail button{
	background-color: #ffdb00;
	padding: 10px 15px;
	border-radius: 0 5px 5px 0;
}
.information .copy-mail button.successed::before{
	content: "";
	width: 14px;
	height: 14px;
	background: url("../images/icon_small/check.svg");
	background-size: 100%;
	display: inline-block;
	vertical-align: bottom;
}
.information .social a{
	margin: 0;
}
@media only screen and (max-width: 340px){
	.homepage-content h1{
		font-size: 26px;
	}
}
@media only screen and (min-width: 375px){
	.homepage-content span{
		display: block;
	}
}
@media only screen and (min-width: 480px){
	header{
		box-shadow: 0 3px 5px rgba(0,0,0,0.1);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}
	.logo.mobile, .nav-mobile{
		display: none;
	}
	.head-desktop{
		text-align: left;
		padding: 10px 0;
		display: block;
	}
	.head-desktop nav{
		margin-top: 2px;
		float: right;
	}
	.head-desktop nav a{
		width: 70px;
		display: inline-block;
	}
	.head-desktop nav a:nth-child(2){
		width: 72px;
	}
	.head-desktop nav a:nth-child(3){
		width: 56px;
	}
	main{
		margin-top: 60px;
	}
	.homepage-container{
		background: linear-gradient(to bottom, #ffdb00 85%, white 0%);
	}
	.homepage-content h1, .homepage-content img{
		display: inline-block;
	}
	.homepage-content h1{
		font-size: 36px;
	}
	.homepage-content img{
		margin: 0 0 0 20px;
	}
	.content{
		margin-bottom: 60px;
	}
	.content.first{
		margin-bottom: 40px;
	}
	.articles{
		padding: 1px;
		display: grid;
		grid-template-columns: repeat(2, calc(50% - 10px));
		grid-gap: 20px;
	}
	article{
		margin: 0;
	}
	article a{
		width: 100%;
	}
	.article-img{
		width: 100%;
		margin: 0 0 10px 0;
		display: block;
	}
	.article-brief{
		font-size: 14px;
		color: rgba(0,0,0,0.6);
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
	.fixed-btn button.gotop{
		width: 70px;
		height: 70px;
	}
	.contact.mobile{
		display: none;
	}
	.information{
		top: 49px;
		bottom: auto;
		right: 5%;
	}
}
@media only screen and (min-width: 768px){
	.articles{
		grid-template-columns: repeat(3, calc(100% / 3 - 13px));
	}
	.resume-content{
		width: calc(50% - 20px);
		margin: 0 10px;
		float: left;
	}
	.resume-content.second{
		margin-top: 0;
	}
}
@media only screen and (min-width: 832px){
	.homepage-content h1{
		margin-top: -60px;
	}
}
@media only screen and (min-width: 1024px){
	.homepage-content h1{
		font-size: 42px;
	}
	.homepage-content img{
		max-width: 344px;
		margin: 0 0 0 40px;
	}
	.articles{
		grid-template-columns: repeat(4, calc(25% - 15px));
		padding: 8px;
	}
	article:hover{
		transform: scale(1.02);
		box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.05);
	}
	.about-img, .about-content{
		width: calc(50% - 10px);
		float: right;
	}
	.about-img{
		margin: 30px 0 0 20px;
	}
	.head-desktop nav a:hover{
		font-weight: 600;
	}
	.social a:hover, .gotop:hover, .contact.desktop:hover, .copy-mail button:hover{
		position: relative;
	}
	.contact.desktop:hover::after, .social a:hover::after, .gotop:hover::after, .copy-mail button:hover::after{
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		animation-name: hover;
		animation-duration: 500ms;
		animation-fill-mode: forwards;
	}
	.information .social a:hover::after{
		width: 86%;
		height: 86%;
		top: 7%;
		left: 6%;
	}
	@keyframes hover{
		100%{
			background-color: rgba(0,0,0,0.4);
		}
	}
	.contact.desktop:hover::after{
		font-weight: 400;
		border-radius: 5px;	
	}
	.gotop:hover::after{
		width: 55px;
		height: 55px;
		background-color: rgba(0,0,0,0.2);
		top: 8px;
		left: 8px;
	}
	.copy-mail button:hover::after{
		border-radius: 0 5px 5px 0;
	}
}
@media only screen and (min-width: 1124px){
	.information{
		right: calc(50% - 500px);
	}
}