/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: serif,Microsoft JhengHei;
	font-size: 14px;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	cursor: pointer;
}
img{
	width: 100%;
	vertical-align: top;
}

/*header*/
header, section, footer{
	width: 100%;
}
header{
	background: rgba(0,0,0,0.75);
	position: fixed;
	z-index: 1;
}
header ul{
	overflow: hidden;
}
header li{
	vertical-align: middle;
}
header a{
	color: #fff;
	font-size: 17px;
	display: inline-block;
}
.logo{
	float: left;	
	margin: 10px;
	color: #fff;
}
.logo span{
	display: block;
	font-size: 17px;
	padding: 0 0 0 10px;
}
.logo span:first-of-type{
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	padding: 5px 0 0 10px;
}
.menu{
	float: right;
}
.menu a{
	margin: 0 10px;
	line-height: 65px;
}
a.contact{
	border: 1px solid #fff;
	border-radius: 40px;
	padding: 5px 10px;
	line-height: 20px;
	color: #fff;
}
.menu a:hover, a.contact:hover{
	color: #ffab00;
	border-color: #ffab00;
}
.top{
	text-align: center;
	position: relative;
	height: 400px;
	padding: 200px 0 0 0;
    margin: 0 0 320px 0;
    animation: bgFadeIn 2s ease-in both;
}
.top::before{
	background: url(./images/portfolio_bg.jpg);
    background-color: #030000;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
@keyframes bgFadeIn {
        0% { background-color: rgba(255, 255, 255, 1); }
        100% { background-color: rgba(255, 255, 255, 0); }
    }
}
.top h1{
	padding: 200px 0 0 0;
}
.top span{
	color: #fff;
	font-size: 60px;
	font-weight: bold;
	display: block;
}
.top span:last-of-type{
	font-size: 14px;
	font-weight: normal;
}

/*.phone{
	width: 300px;
	display: inline-block;
	position: relative;
}
.phone{
	background: url(./images/portfolio_vip.jpg) no-repeat;
    background-position: 0 62px;
    background-size: 100%;
    width: 260px;
    height: 504px;
    display: inline-block;
    margin: 38px 0 0 0;
	animation-name: move;
	animation-duration: 30s;
	animation-delay: 4s;
	animation-iteration-count: 1;
	animation-direction: inherit;
	animation-timing-function: linear;
}
.phone:hover{
	animation-play-state: paused;
}
@keyframes move {
    	0% {
    		background-position: 0 62px;
    	}
    	100% {
    		background-position: 0 100%;
    	}
    }*/
.phone{
	position: relative;
	display: block;
}
.phone::after{
	content: '';
	width: 300px;
	height: 620px;
	background: url(./images/portfolio_phone.svg) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0;
    left: calc(50% - 150px);
	pointer-events: none;
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}
video{
	margin: 63px 0 0 0;
}
.decor_text{
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #fff;
	font-size: 14px;
}
.decor_text::before{
	content: '';
	width: 10px;
	height: 100px;
	display: inline-block;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	margin: 0 5px 0 0;
}
.tit{
	width: 950px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 20px auto;
	padding: 20px 0;
	border-bottom: 1px solid #333;
}
.mid{
	width: 750px;
	margin: 0 auto 65px auto;
	line-height: 2;
	text-align: center;
	border-bottom: 1px solid #333;
	padding: 0 100px;
}
.block{
	text-align: left;
	display: inline-block;
	width: 320px;
	vertical-align: top;
	position: relative;
}
.block dl{
	margin: 0 0 20px 0;
}
.block dd{
	display: inline-block;
	vertical-align: top;
}
.block span{
	width: 42px;
	border: 4px solid #97d0ff;
	background: #17165d;
	color: #97d0ff;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	margin: 0 10px 0 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.block span:last-of-type{
	border-color: #ffaa2c;
	background: #4a2601;
	color: #ffaa2c;
}
.block:first-of-type::after{
	content: '';
	width: 1px;
	height: 160px;
	background: #ffab00;
	position: absolute;
	top: 10px;
	right: -10px; 
}
.block:last-of-type dl::before{
	content: '';
	width: 10px;
	height: 10px;
	background: #ffab00;
	border-radius: 10px;
	display: inline-block;
	margin: 0 15px 0 0;
}
.second{
	color: #fff;
	padding: 0 0 1px 0;
	position: relative;
	animation: bgFadeIn 0s ease-in both;
}
.second::before{
	background: url(./images/second_bg.jpg);
    background-color: #000;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.second .mid{
	text-align: left;
}
.step dl{
	width: calc(100% / 3 - 43px);
	display: inline-block;
	margin: 30px 20px;
	vertical-align: top;
	position: relative;
}
.second .mid li:nth-child(2) dl:nth-child(1)::after, .second .mid li:nth-child(2) dl:nth-child(2)::after, .second .mid li:nth-child(4) dl:nth-child(1)::after, .second .mid li:nth-child(4) dl:nth-child(2)::after{
	content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #666;
    position: absolute;
    top: 100px;
    right: -20px;
}
.second .mid li:nth-child(3) dl:nth-child(2)::after, .second .mid li:nth-child(3) dl:nth-child(3)::after{
	content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 16px 8px 0;
    border-color: transparent #666 transparent transparent;
    position: absolute;
    top: 100px;
    left: -35px;
}
.second .mid li:nth-child(2) dl:nth-child(3)::after, .second .mid li:nth-child(3) dl:nth-child(1)::after{
	content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 8px 0 8px;
    border-color: #666 transparent transparent transparent;
    position: absolute;
    bottom: -50px;
    right: 95px;
}
.step_img{
	width: 70px;
	margin: 0 auto;
}
.step_tit{
	text-align: center;
}
.event{
	margin: 0 1% 20px 0;
	width: 48%;
	display: inline-block;
	text-align: center;
	position: relative;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.text{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	text-align: center;
	padding: 37px 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.btn{
	width: 30%;
	color: #ffab00;
	line-height: 28px;
	border: 2px solid #ffab00;
	border-radius: 42px;
	display: block;
	margin: 20px auto;
	position: relative;
}
.event:hover .text{
	opacity: 1;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.gallery a{
	width: calc(100% / 3 - 3%);
	display: inline-block;
	margin: 2% 1%;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#flb-lightbox-image{
	max-width: 840px;
}
#flb-lightbox-content img{
	width: auto;
}
footer{
	text-align: center;
	height: 400px;
	position: relative;
	animation: bgFadeIn 1s ease-in both;
}
footer::before{
	background: url(./images/footer_bg.jpg);
    background-color: #000;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
footer li, footer a{
	color: #fff;
	font-size: 17px;
	line-height: 42px;
}
footer ul::before{
	content: '';
	width: 100px;
	height: 100px;
	background: url(./images/head.png) no-repeat;
	background-size: 100%;
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    margin: -20px 0 0 0;
    display: inline-block;
}
footer li:nth-child(2)::before{
	content: '';
	width: 20px;
	height: 20px;
	background: url(./images/phone.svg) no-repeat;
	background-size: 100%;
    vertical-align: sub;
    margin: 0 5px 0 0;
	display: inline-block;
}
footer li:nth-child(3)::before{
	content: '';
	width: 20px;
	height: 20px;
	background: url(./images/mail.svg) no-repeat;
	background-size: 100%;
    vertical-align: sub;
    margin: 0 5px 0 0;
	display: inline-block;
}







